{% extends "users/base_student.html" %}
{% block student_content %}
{% load static %}



<div class="col-xl-9">
  <!-- Edit profile START -->
  <div class="card bg-transparent border border-purple border-2 rounded-3">
      <!-- Card header -->
      <div class="card-header bg-purple border-bottom border-purple border-2">
          <h3 class="card-header-title mb-0 text-white">Unregister</h3>
      </div>
      <!-- Card body START -->
      <div class="card-body">
          <!-- Form -->
          <form class="row g-4" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Are you sure you want to unregister for {{module.name}}?</legend>
            </fieldset>
            <button type="submit" class="btn btn-outline-danger">Yes</button>
            <a 
              type="submit" 
              class="btn btn-outline-secondary"
              href="{% url 'studentregistration:module_details' module.code %}">
              Cancel
            </a>
          </form>            
      </div>
      <!-- Card body END -->
  </div>
  <!-- Edit profile END -->
</div>
{% endblock  %}