{% extends "users/base_student.html" %}
{% load crispy_forms_tags %}
{% block student_content %} {% load static %}

<!-- Main content START -->
<div class="col-xl-9">
    <!-- Edit profile START -->
    <div class="card bg-transparent border border-purple border-2 rounded-3">
        <!-- Card header -->
        <div class="card-header bg-purple border-bottom border-purple border-2">
            <h3 class="card-header-title mb-0 text-white">Change Password</h3>
        </div>
        <!-- Card body START -->
        <div class="card-body">
            <!-- Form -->
            <form class="row g-4" method="post">
                {% csrf_token %}
                <!-- Old Password -->
                <div class="col-md-6 text-purple">
                   {{ form.old_password| as_crispy_field }}
                </div>
                <!-- New Password -->
                <div class="col-md-6 text-purple">
                   {{ form.new_password1| as_crispy_field }}
                </div>
                <!-- Confirm New Password -->
                <div class="col-md-6 text-purple">
                    {{ form.new_password2| as_crispy_field }}
                </div>
                <!-- Save button -->
                <div class="d-sm-flex justify-content-end">
                    <button type="submit" class="btn btn-purple mb-0">Change Password</button>
                </div>
            </form>            
        </div>
        <!-- Card body END -->
    </div>
    <!-- Edit profile END -->
</div>
<!-- =======================
Page content END -->
{% endblock %}