{% extends "studentregistration/base.html" %}
{% load static %}
{% block content %}
    <section class="p-0 d-flex align-items-center position-relative overflow-hidden">

        <div class="container-fluid">
            <div class="row">
                <!-- Left -->
                {%  include "includes/leftcontent_auth.html" %}
                <!-- Right -->
                <div class="col-12 col-lg-6 m-auto">
                    <div class="row my-5">
                        <div class="col-sm-10 col-xl-8 m-auto">
                            <!-- Title -->
                            <span class="mb-0 fs-1">👋</span>
                            <h1 class="fs-2">Login into CloudGeeks!</h1>
                            <p class="lead mb-4 text-purple">Nice to see you! Please log in with your account.</p>

                            <!-- Form START -->
                            <form method="POST">
                                {% csrf_token %}
                                <!-- Username -->
                                <div class="mb-4">
                                    <label for="exampleInputUsername" class="form-label">Username *</label>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i
                                                class="bi bi-envelope-fill"></i></span>
                                        {{ form.username }}
                                    </div>
                                    {% if form.username.errors %}
                                        <div class="error-message">
                                            {% for error in form.username.errors %}
                                                <span style="color:red;">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="mb-4">
                                    <label for="inputPassword1" class="form-label">Password *</label>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i
                                                class="fas fa-lock"></i></span>
                                        {{ form.password }}
                                        <small>{{ form.password.field.help_text }}</small>
                                    </div>
                                    {% if form.password.errors %}
                                        <div class="error-message">
                                            {% for error in form.password.errors %}
                                                <span style="color:red;">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <!-- Check box -->
                                <div class="mb-4 d-flex justify-content-between mb-4">
                                    <div class="form-check">
                                    </div>
                                    <div class="text-purple">
                                        <a href="{% url 'password_reset' %}" class="text-purple">
                                            <u>Forgot password?</u>
                                        </a>
                                    </div>
                                </div>
                                <!-- Button -->
                                <div class="align-items-center mt-0">
                                    <div class="d-grid">
                                        <button class="btn btn-purple mb-0" type="submit">Login</button>
                                    </div>
                                </div>
                            </form>
                            <!-- Form END -->

                            <!-- Sign up link -->
                            <div class="mt-4 text-center">
                                <span>Don't have an account? <a href="{% url 'register' %}">Signup here</a></span>
                            </div>
                        </div>
                    </div> <!-- Row END -->
                </div>
            </div> <!-- Row END -->
        </div>
    </section>
{% endblock %}