{% extends "users/base_student.html" %}

{% block student_content %} 
{% load static %}

<!-- Main content START -->
<div class="col-xl-9">
    <!-- Edit profile START -->
    <div class="card bg-transparent border border-2 border-purple rounded-3">
        <!-- Card header -->
        <div class="card-header bg-purple border-bottom border-purple border-2">
            <h3 class="card-header-title text-white mb-0">Edit Profile</h3>
        </div>
        <!-- Card body START -->
        <div class="card-body">
            <form class="row g-4" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Profile picture -->
                <div class="col-12 justify-content-center align-items-center">
                    <label class="form-label">Profile picture</label>
                    <div class="d-flex align-items-center">
                        <label class="position-relative me-4" for="uploadfile-1" title="Replace this pic">
                            <!-- Avatar place holder -->
                            <span class="avatar avatar-xl">
                                        <img id="uploadfile-1-preview"
                                                class="avatar-img rounded-circle border border-white border-3 shadow"
                                                src="{{ user.student.photo.url }}" alt="Profile Picture">
                                    </span>
                            <!-- Remove btn -->
                            <!-- <button type="button" class="uploadremove"><i class="bi bi-x text-white"></i></button> -->
                        </label>
                        <!-- Upload button -->
                        <label class="btn btn-purple-soft mb-0" for="photo">Change</label>
                        {{p_form.photo}}
                        <span style="padding: 6px;" id="fileName"> </span>
                        <!-- <input id="uploadfile-1" class="form-control d-none" type="file"> -->
                    </div>
                </div>

                <!-- Full name -->
                <div class="col-12 text-purple">
                    <label class="form-label">Full name</label>
                    <div class="input-group">
                        <!-- First name -->
                        {{u_form.first_name}}
                        {% if u_form.first_name.errors %}
                        <div class="error-message">
                            {% for error in u_form.first_name.errors %}
                                <span style="color:red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <!-- Last name -->
                        {{u_form.last_name}}
                        {% if u_form.last_name.errors %}
                        <div class="error-message">
                            {% for error in u_form.last_name.errors %}
                                <span style="color:red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <!-- DOB -->
                <div class="col-md-6 text-purple">
                    <label class="form-label">Date of birth</label>
                    <div class="input-group">
                        {{p_form.dob}}
                    </div>
                    
                </div>

                <!-- Email id -->
                <div class="col-md-6 text-purple">
                    <label class="form-label">Email</label>
                    {{u_form.email}}
                    {% if u_form.email.errors %}
                    <div class="error-message">
                        {% for error in u_form.email.errors %}
                            <span style="color:red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                 <!-- Address -->
                 <div class="col-12 text-purple">
                    <label class="form-label">Adress</label>
                   {{p_form.address}}
                   {% if p_form.address.errors %}
                    <div class="error-message">
                        {% for error in p_form.address.errors %}
                            <span style="color:red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <!-- City -->
                <div class="col-md-6 text-purple">
                    <label class="form-label">City</label>
                    {{p_form.city}}
                    {% if p_form.city.errors %}
                    <div class="error-message">
                        {% for error in p_form.city.errors %}
                            <span style="color:red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <!-- Country -->
                <div class="col-md-6 text-purple">
                    <label class="form-label">Country</label>
                    {{p_form.country}}
                    {% if p_form.country.errors %}
                        <div class="error-message">
                            {% for error in p_form.country.errors %}
                                <span style="color:red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                </div>

                <!-- Save button -->
                <div class="d-sm-flex justify-content-end">
                    <button type="submit" class="btn btn-purple mb-0">Save changes</button>
                </div>
            </form>
        </div>
        <!-- Card body END -->
    </div>
    <!-- Edit profile END -->
</div>
<!-- ======================= Page content END -->

<script>
    function handleFileChange(input) {
      const fileNameSpan = document.getElementById('fileName');
      if (input.files.length > 0) {
        fileNameSpan.textContent = input.files[0].name;
      } else {
        fileNameSpan.textContent = 'No file chosen';
      }
    }
  </script>
{% endblock %}