{% extends "users/base_student.html" %}

{% block student_content %} {% load static %}

<!-- Main content START -->
<div class="col-xl-9">
    <!-- Edit profile START -->
    <div class="card bg-transparent border rounded-3">
        <!-- Card header -->
        <div class="card-header bg-transparent border-bottom">
            <h3 class="card-header-title mb-0">Reset Password</h3>
        </div>
        <!-- Card body START -->
        <div class="card-body">
            <!-- Form -->
            <form class="row g-4" method="post" action="/student/reset_password/">
                {% csrf_token %}
                <!-- Old Password -->
                <div class="col-md-6">
                    <label class="form-label" for="id_old_password">Old password</label>
                    <input type="password" name="old_password" id="id_old_password" class="form-control" required>
                </div>
                <!-- New Password -->
                <div class="col-md-6">
                    <label class="form-label" for="id_new_password1">New password</label>
                    <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
                </div>
                <!-- Confirm New Password -->
                <div class="col-md-6">
                    <label class="form-label" for="id_new_password2">New password confirmation</label>
                    <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                </div>
                <!-- Save button -->
                <div class="d-sm-flex justify-content-end">
                    <button type="submit" class="btn btn-primary mb-0">Save changes</button>
                </div>
            </form>            
        </div>
        <!-- Card body END -->
    </div>
    <!-- Edit profile END -->
</div>
<!-- =======================
Page content END -->
{% endblock %}