{% extends "users/base_student.html" %}

{% block student_content %} {% load static %}

    <!-- Main content START -->
    <div class="col-xl-9">
        <!-- Edit profile START -->
        <div class="card bg-transparent border rounded-3">
            <!-- Card header -->
            <div class="card-header bg-transparent border-bottom">
                <h3 class="card-header-title mb-0">Reset Password</h3>
            </div>
            <!-- Card body START -->
            <div class="card-body">
                <!-- Form -->
                <form class="row g-4">
                    <!-- Phone number -->
                    <div class="col-md-6">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control">
                    </div>

                    <!-- Location -->
                    <div class="col-md-6">
                        <label class="form-label">Confirm Password</label>
                        <input class="form-control" type="password">
                    </div>

                    <!-- Save button -->
                    <div class="d-sm-flex justify-content-end">
                        <button type="button" class="btn btn-purple mb-0">Save changes</button>
                    </div>
                </form>
            </div>
            <!-- Card body END -->
        </div>
        <!-- Edit profile END -->
    </div>
    <!-- =======================
    Page content END -->
{% endblock %}